footer.footer.container
    .footer__nosotros
        h2.footer__nosotros__title nosotros
        p.footer__nosotros__descripcion
            | Lorem ipsum dolor sit amet consectetur,
            | est, fuga delen magnam quod neque delectus dolores enim! Nemo, amet.
    .footer__horarios
        h2.footer__horarios__title Horarios
        p.footer__horarios__descripcion Lun-Vie: 9am - 7pm
        p.footer__horarios__descripcion Sábado: 10am - 2pm
        p.footer__horarios__descripcion Domingo: Cerrado
    .footer__contacto
        h2.footer__contacto__title Contacto
        p.footer__contacto__descripcion Carolina spa, contactanos
        p.footer__contacto__descripcion jordytiradotorres20@gmail.com
        p.footer__contacto__descripcion Guadalupe, Perú
        |
        nav.header__redesSociales
            a.header__redesSociales__link(href="https://www.facebook.com" target="_blank")
                span
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
            a.header__redesSociales__link(href="https://www.twitter.com" target="_blank")
                span
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
            a.header__redesSociales__link(href="https://www.instagram.com" target="_blank")
                span
                    <i class="fa fa-instagram" aria-hidden="true"></i>
            a.header__redesSociales__link(href="https://www.pinterest.com" target="_blank")
                span
                    <i class="fa fa-pinterest-square" aria-hidden="true"></i>
            a.header__redesSociales__link(href="https://www.youtube.com" target="_blank")
                span
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
    |
    p.footer__copyright
        | Carolina spa y salon 2018, derechos reservados, #[span Hecho por #[a(href="mailto:jordytiradotorres20@gmail.com") Jordy]]