header.header.container
    a.header__logo(href="/"): img.header__img(src="img/logo.svg", alt="imagen")
    nav.header__redesSociales
        a.header__redesSociales__link(href="https://www.facebook.com" target="_blank")
            span
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
        a.header__redesSociales__link(href="https://www.twitter.com" target="_blank")
            span
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
        a.header__redesSociales__link(href="https://www.instagram.com" target="_blank")
            span
                <i class="fa fa-instagram" aria-hidden="true"></i>
        a.header__redesSociales__link(href="https://www.pinterest.com" target="_blank")
            span
                <i class="fa fa-pinterest-square" aria-hidden="true"></i>
        a.header__redesSociales__link(href="https://www.youtube.com" target="_blank")
            span
                <i class="fa fa-youtube-play" aria-hidden="true"></i>