div.parallax
    h2.parallax__title Realiza una cita
    p.parallax__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut corporis cupiditate deserunt dolores esse eum illum, impedit, inventore ipsa labore maiores numquam, quaerat quisquam ratione reprehenderit rerum temporibus unde.
    button.parallax__btn(type="button") Leer más