extends templates/template
block append config 
    - pageActual = 'servicios'
block servicios
    .container
        main.servicios
            section.servicios__acordeon
            |
            section.servicios__nuevos-clientes
                h2 soy nuevos cursos