extends templates/template
block append config 
    - pageActual = 'servicios'
block servicios
    .container
        main.servicios
            section.servicios__acordeon
                .item.active
                    header.servicios__header Primer elemento
                    div.servicios__contenido
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid culpa deleniti dicta dolore, est iste minima placeat praesentium quam repellat saepe sed suscipit. Dolore facere hic magnam, maiores quisquam temporibus.
                .item
                    header.servicios__header Segundo elemento
                    div.servicios__contenido
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid culpa deleniti dicta dolore, est iste minima placeat praesentium quam repellat saepe sed suscipit. Dolore facere hic magnam, maiores quisquam temporibus.
                .item
                    header.servicios__header Tercer elemento
                    div.servicios__contenido
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid culpa deleniti dicta dolore, est iste minima placeat praesentium quam repellat saepe sed suscipit. Dolore facere hic magnam, maiores quisquam temporibus.
            |
            aside.servicios__nuevos-clientes
                h2.servicios__nuevos-clientes-title nuevos clientes
                p.servicios__nuevos-clientes-texto Recibe 20% de descuento con este cupon
                div
                    h2 20% de descuento
                    p en todos los servicios
    |
    include blocks/parallax